body{
    font-family: 'Merriweather', serif;
}
.PENGUIN-FASHION-card-footer{
    background-color:white;
    border:0px;
}
.PENGUIN-FASHION{
    border:0;
}
.section categories-img{
    width:100px;
}